<header class="container-fluid header">
    <div class="logo">
        <a href="../index.html"><img src="./img/logo.svg" alt=""></a>
    </div>
    <div class="search">
        <button class="open-filter">
            <span class="i i_circle"></span>

            <span class="i i_close">
                <i></i>
                <i></i>
            </span>
        </button>
    </div>
</header>
<div class="categories-filter-wrapper">
    <form class="categories-filter open" method="POST">
        <div class="tabs">
            <div class="change-mode"> <h3 class="title">Фильтр</h3>
                <div class="tabs-header">
                    <div class="border"></div>
                    <ul>

                        <li class="active">
                            <a href="#tab-1" tab-id="1" data-type="all">
                                <span>Все</span>
                            </a>
                        </li>

                        <li>
                            <a href="#tab-2" tab-id="2" data-type="photo">
                                <span>Фото</span>
                            </a>
                        </li>

                        <li>
                            <a href="#tab-3" tab-id="3" data-type="video">
                                <span>Видео</span>
                            </a>
                        </li>

                    </ul>
                </div></div>
            <div class="tabs-content">
                <div tab-id="1" class="tab active">
                    <div class="row filter-section">
                        <div class="filter">
                            <select class="filter-select city" data-classname="select-theme-dark">
                                <option value="" selected="selected">Город</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <select class="filter-select city" data-classname="select-theme-dark">
                                <option value="" selected="selected">Народность</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <div class="filter-checkbox">
                                <h4>Море</h4>
                                <div class="filter-checkbox__switch">
                                    <input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" checked/>
                                    <label for="checkbox1" class="checkbox-label" ></label>

                                    <input type="checkbox" name="checkbox1" id="checkbox2" class="ios-toggle" checked/>
                                    <label for="checkbox2" class="checkbox-label" ></label>
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <select class="filter-select area" data-classname="select-theme-dark">
                                <option value="" selected="selected">Район</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <select class="filter-select area" data-classname="select-theme-dark">
                                <option value="" selected="selected">Историческое место</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <div class="filter-checkbox">
                                <h4>Мечеть</h4>
                                <div class="filter-checkbox__radio">
                                    <label><input type="radio" checked name="dva"/>Все</label>
                                    <label><input type="radio" checked name="dva"/>Каспийское море</label>
                                    <label><input type="radio" checked name="dva"/>Карибское</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <select class="filter-select season" data-classname="select-theme-dark">
                                <option value="" selected="selected">Время года</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <select class="filter-select area" data-classname="select-theme-dark">
                                <option value="" selected="selected">Историческое место</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <div class="filter-checkbox">
                                <h4>Мечеть</h4>
                                <div class="filter-checkbox__radio">
                                    <label><input type="radio" checked name="dva"/>Все</label>
                                    <label><input type="radio" checked name="dva"/>Каспийское море</label>
                                    <label><input type="radio" checked name="dva"/>Карибское</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <select class="filter-select river" data-classname="select-theme-dark">
                                <option value="" selected="selected">Река</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <select class="filter-select season" data-classname="select-theme-dark">
                                <option value="" selected="selected">Еще какое то место</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <div class="filter-checkbox">
                                <h4>Мечеть</h4>
                                <div class="filter-checkbox__radio">
                                    <label><input type="radio" checked name="dva"/>Все</label>
                                    <label><input type="radio" checked name="dva"/>Каспийское море</label>
                                    <label><input type="radio" checked name="dva"/>Карибское</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <select class="filter-select mountain" data-classname="select-theme-dark">
                                <option value="" selected="selected">Гора</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <select class="filter-select mountain" data-classname="select-theme-dark">
                                <option value="" selected="selected">Нац.творечество</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <div class="filter-checkbox">
                                <h4>Мечеть</h4>
                                <div class="filter-checkbox__radio">
                                    <label><input type="radio" checked name="dva"/>Все</label>
                                    <label><input type="radio" checked name="dva"/>Каспийское море</label>
                                    <label><input type="radio" checked name="dva"/>Карибское</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="filter-footer">
                        <button type="submit" class="btn btn_orange">Применить</button>
                        <button class="btn" type="reset">Сбросить</button>
                    </footer>
                </div>

            </div>
        </div>
    </form>
</div>