<div class="col-lg-3 col-md-12">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="" class="h_orange">Равнины
                    <div class="arrow">
                        <i></i><i></i>
                    </div>
                </a>
            </li>
            <li><a href="" class="h_orange">Вершины<div class="arrow">
                <i></i><i></i>
            </div></a></li>
            <li><a href="" class="h_orange">Горы<div class="arrow">
                <i></i><i></i>
            </div></a></li>
            <li><a href="" class="h_orange">Водопады<div class="arrow">
                <i></i><i></i>
            </div></a></li>
            <li><a href="" class="h_orange">Леса<div class="arrow">
                <i></i><i></i>
            </div></a></li>
            <li><a href="" class="h_orange">Поля<div class="arrow">
                <i></i><i></i>
            </div></a></li>
            <li><a href="" class="h_orange">Реки<div class="arrow">
                <i></i><i></i>
            </div></a></li>
            <li><a href="" class="h_orange">Озера<div class="arrow">
                <i></i><i></i>
            </div></a></li>
        </ul>
    </div>
</div>