@media screen and (max-width: 1680px)
  .header
    width: 100%

@media screen and (max-width: 1280px)
  .header
    width: 100%

@media screen and (max-width: 1024px)
  .header
    width: 100%

@media screen and (max-width: 768px)
  .header
    width: 100%

@media screen and (max-width: 480px)
  .header
    width: 100%
