@media screen and (max-width: 1680px)
  .header
    width: 100%

@media screen and (max-width: 1280px)
  .header
    width: 100%

  .container
    max-width: 1210px

  .gallery-sidebar
    .tabs-content
      height: 326px !important

  .gallery-display
    &__slider
      .slider-item
        .slider-item__img
          height: 600px
        iframe
          height: 600px
  .wrapper-page
    .map__nav
      button
        font-size: 15px
        &:nth-child(1)
          top: -68px
          left: 45%
        &:nth-child(2)
          left: 10%
          top: 10px
        &:nth-child(3)
          left: 44%
          bottom: -104px
    .sidebar-menu
      padding: 10px 30px
      width: 100%
      ul
        li
          margin: 15px 0
          a
            font-size: 13px

  .categories
    margin-top: 30px
    .categories-list
      max-height: 300px
      padding: 0
    .categories-list__item
      padding: 15px
      h5
        font-size: 20px

  .gallery-sidebar
    .tabs
      width: 317px

  .gallery-sidebar__map
    width: 317px

@media screen and (max-width: 1024px)
  .header
    width: 100%

  .gallery
    margin-bottom: 100px

  .wrapper-page
    .map__nav
      button
        font-size: 15px
        &:nth-child(2)
          left: 8%
        &:nth-child(3)
          left: 41%
          bottom: -86px
    .sidebar-menu
      width: 260px
      ul
        li
          margin: 5px 0
          a
            font-size: 13px

@media screen and (max-width: 768px)
  .header
    width: 100%

  .container
    width: 1860px

  .row
    display: flex

@media screen and (max-width: 480px)
  .header
    width: 100%

  .container
    width: 1860px