<div class="gallery-display col-lg-8">
    <h3 class="gallery-display__title">
        Штат Миссури
    </h3>
    <div tab-id="1" class="display gallery-display__slider photo">
        <div class="slider-item photo">
        <div class="slider-item__description">
            <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
        </div>
        <a href="./img/bg/bg-1.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
            <img src="./img/icons/zoom-in.svg" alt="">
        </a>
        <img class="slider-item__img" data-lazy="./img/bg/bg-1.jpg" alt="">
    </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-2.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-2.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-3.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-3.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-1.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-1.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-2.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-2.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-3.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-3.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-1.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-1.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-2.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-2.jpg" alt="">
        </div>
        <div class="slider-item photo">
            <div class="slider-item__description">
                <h5>Слоновый хребет между горой Арарат и ущельем Мизил</h5>
            </div>
            <a href="./img/bg/bg-3.jpg" class="slider-item__zoom" data-fancybox="group" data-caption="Слоновый хребет между горой Арарат и ущельем Мизил">
                <img src="./img/icons/zoom-in.svg" alt="">
            </a>
            <img class="slider-item__img" data-lazy="./img/bg/bg-3.jpg" alt="">
        </div>

    </div>
    <div tab-id="2" class="display gallery-display__slider video" style="opacity: 1; display: none;">
            <div class="slider-item video">
                <iframe src="https://www.youtube.com/embed/tQN1EYeJ_fY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
    </div>
</div>