<div class="gallery-sidebar col-lg-4 justify-content-between">
    <div class="gallery-sidebar__nav">
        <div class="tabs">
            <div class="tabs-header" style="background:#242424">
                <div class="border"></div>
                <ul>

                    <li class="active">
                        <a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#6FB7ED">
                            <span>Фото</span>
                            <span class="count">84</span>
                        </a>
                    </li>

                    <li>
                        <a href="#tab-2" tab-id="2" ripple="ripple" ripple-color="#3CAA3C">
                            <span>Видео</span>
                            <span class="count">23</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="tabs-content">
                <div tab-id="1" class="tab active">
                    <div class="gallery-photo__nav tab-info">
                        <img src="./img/bg/bg-1.jpg" alt="">
                        <img src="./img/bg/bg-2.jpg" alt="">
                        <img src="./img/bg/bg-3.jpg" alt="">
                        <img src="./img/bg/bg-1.jpg" alt="">
                        <img src="./img/bg/bg-2.jpg" alt="">
                        <img src="./img/bg/bg-3.jpg" alt="">
                        <img src="./img/bg/bg-1.jpg" alt="">
                        <img src="./img/bg/bg-2.jpg" alt="">
                        <img src="./img/bg/bg-3.jpg" alt="">
                    </div>
                </div>

                <div tab-id="2" class="tab">
                    <div class="gallery-video__nav tab-info">

                        <img src="https://img.youtube.com/vi/tQN1EYeJ_fY/0.jpg" alt="">
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="gallery-sidebar__map" id="galleryMap">
        <div class="gradient"></div>
    </div>
</div>